<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.panaceasoft.psmultistore">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- for card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <compatible-screens>
        <!--no small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" /> <!-- approximately 120 dpi -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" /> <!-- approximately 160 dpi -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" /> <!-- approximately 240 dpi -->
        <screen
            android:screenDensity="280"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" /> <!-- approximately 320 dpi -->
        <screen
            android:screenDensity="360"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="420"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="480"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="560"
            android:screenSize="small" /> <!-- Workaround -->
        <screen
            android:screenDensity="640"
            android:screenSize="small" /> <!-- Workaround -->


        <!--all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" /> <!-- approximately 120 dpi -->
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" /> <!-- approximately 160 dpi -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" /> <!-- approximately 240 dpi -->
        <screen
            android:screenDensity="280"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" /> <!-- approximately 320 dpi -->
        <screen
            android:screenDensity="360"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="420"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="480"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="560"
            android:screenSize="normal" /> <!-- Workaround -->
        <screen
            android:screenDensity="640"
            android:screenSize="normal" /> <!-- Workaround -->


        <!-- all large size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />

        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />

        <!-- Special case for Nexus 7 -->
        <screen
            android:screenDensity="213"
            android:screenSize="large" />

        <!--xxhdpi-->

        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="xlarge" />

    </compatible-screens>

    <application
        android:name=".PSApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app__app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Base.PSTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name=".ui.blog.listbyshopid.BlogListByShopIdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name=".ui.category.CategoryListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name=".ui.collection.productCollectionHeader.ProductCollectionHeaderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.rating.RatingListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.shop.selectedshop.SelectedShopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.apploading.AppLoadingActivity"
            android:label="@string/app__app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app__app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <activity
            android:name=".ui.user.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.transaction.list.TransactionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.UserForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.PasswordChangeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.product.filtering.FilteringActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.notification.detail.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.transaction.detail.TransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.checkout.CheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.setting.NotificationSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.setting.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.setting.TermsAndConditionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.setting.AppInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.product.favourite.FavouriteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.product.productbycatId.ProductListByCatIdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <meta-data
            android:name=".utils.CustomCachingGlideModule"
            android:value="AppGlideModule" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/global__accent" />

        <service android:name=".utils.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.product.detail.ProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.comment.detail.CommentDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme"
        />
        <activity
            android:name=".ui.notification.list.NotificationListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.product.list.ProductListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.comment.list.CommentListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme"
         />
        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.terms.TermsAndConditionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name=".ui.gallery.detail.GalleryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity android:name=".ui.basket.BasketListActivity" />
        <activity
            android:name=".ui.product.search.SearchByCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name=".ui.product.history.UserHistoryListActivity"
            android:label="@string/title__activity_user_history_list"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name=".ui.stripe.StripeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.collection.CollectionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.shop.list.ShopListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.blog.list.BlogListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.blog.detail.BlogDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.shop.listbytagid.ShopListByTagIdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.shop.tag.ShopTagListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.forceupdate.ForceUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.privacyandpolicy.PrivacyAndPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />
        <activity
            android:name=".ui.user.verifyemail.VerifyEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.PSTheme" />


    </application>

</manifest>